@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Italiana&family=Marcellus&family=Montserrat:wght@400;500;600;700&display=swap');

html, body {
  font-family: 'Montserrat', sans-serif;
  background-color: #FAFAFA;
  color: #2C2D33;
}

/* Buttons */
button {
  background: var(--color-indigo);
  color: white;
  border: none;
  padding: 8px 12px;
  border-radius: 8px;
  cursor: pointer;
  font-weight: 600;
}
button[disabled] {
  opacity: 0.6;
  cursor: not-allowed;
}

